body {
    text-align:center;
    background-color: #aef359;
    font-family: 'Mouse Memoirs', sans-serif;
}
h2 {
    font-size: 2em;
    letter-spacing: 2px
}
.grid {
    margin-top: 30px;
}
.big-row {
    display:flex;
    width:100%;
    justify-content:center;
}
.square {
    display:flex;
    margin:0;
    box-sizing: border-box;
    align-items: center;
    border-left:2px solid black;
    border-top:2px solid black;
}
#s2, #s5, #s8 {
    border-right:2px solid black;
}
#s6, #s7, #s8 {
    border-bottom:2px solid black;
}
.cell {
    padding: 5px;
    margin:0;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    text-align:center;
    background-color: white;
}
.selectable-cell {
    background-color: #ADD8E6;
    transition: all 0.25s ease-in-out;
}
.selectable-cell:hover {
    cursor: pointer;
    background-color: #1F51FF;
}
.cell input {
    width:90%;
    height:90%;
    border:none;
    text-align: center;
    background: transparent;
    font-family: inherit;
    font-size: 1em;
}
.cell input:focus {
    outline:none;
}
.c0, .c1, .c3, .c4, .c6, .c7 {
    border-right:1px solid black;
}
.r0, .r1, .r3, .r4, .r6, .r7 {
    border-bottom:1px solid black;
}
.buttons {
    margin: 20px auto;
    max-width: 320px;
}
button {
    width: 120px;
    border-radius:10px;
    margin: 0 20px 10px;
    transition: all 0.25s ease-in-out;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 1px
}
button:hover {
    cursor:pointer;
    background-color: #ADD8E6;
}
.selected-button {
    background-color: #ADD8E6;
}
.error {
    color:red;
    display: none;
}
.show-error {
    display: block;
}
@media only screen and (min-width: 600px) {
    .buttons {
        max-width: 33vw;
    }
}